<div class="container-fluid">
    <div class="bod">
        <h1>Staff:</h1>
    </div>
    <div class="bod">
        <button class="btn btn-link" (click)='logout()' *ngIf='flag==1'>Logout</button>
    </div>
    <div class="row">
        <div class="container table-responsive py-5">
            <table class="table table-bordered table-hover">
                <tr>
                    <td><b>Name:</b></td>
                    <td><b>Surname:</b></td>
                    <td><b>Profession:</b></td>
                    <td><b>Show more:</b></td>
                </tr>
                <tr *ngFor='let staff of allStaff'>
                   
                <td>{{staff.name}}</td>
                <td>{{staff.surname}}</td>
                <td>{{staff.profession}}</td>
                <td><button class="btn btn-info" value='showMore' (click)='showMore(staff)'>Show more info</button></td>
            </tr>
            </table>
        </div>
    </div>
</div>
