<div class="container-fluid">
    <div class="bod">
        <h1>Welcome {{username}}</h1>
    </div>
    
    <br><br>
    <div class="bodys">
        <div class="waviy">
          <span style="--i:1">g</span>
          <span style="--i:2">e</span>
          <span style="--i:3">t</span>
          <span style="--i:4">w</span>
          <span style="--i:5">o</span>
          <span style="--i:6">r</span>
          <span style="--i:7">k</span>
          <span style="--i:8">i</span>
          <span style="--i:9">n</span>
          <span style="--i:10">g</span>
         </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 offset-md-1 offset-sm-1 offset-lg-1">
            <ul>
                <li><button class="btn btn-link" (click)='route()'>My home</button></li>
                <li><button class="btn btn-link" (click)='route1()'>My profile</button></li>
                <li><button class="btn btn-link" (click)='route2()'>My subjects</button></li>
                <li><button class="btn btn-link" (click)='route3()'>News</button></li>
                <li><button class="btn btn-link" (click)='changePass()'>Change password</button></li>
                <li><button class="btn btn-link" (click)='logout()'>Logout</button></li>
            </ul>
        </div>
    </div>

    
</div>


