<div class="container-fluid">
    <div class="bod">
        <h1>Contact for all departments</h1>
    </div>
    <div class="bod">
        <button class="btn btn-link" (click)='logout()' *ngIf='flagButton==1'>Logout</button>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4">
            <div class="container table-responsive py-5">
                <table class="table table-bordered table-hover">
                <section><b><i>RTI department</i></b></section>
                <br>
                <tr>
                    <td>Phone</td>
                    <td>Fax</td>
                    <td>E-mail</td>
                </tr>
                <tr>
                    <td>+381113248464</td>
                    <td>+381113248681</td>
                    <td>rti@etf.bg.ac.rs</td>
                </tr>
            </table>
            </div>
            <div class="container table-responsive py-5">
                <table class="table table-bordered table-hover">
                <section><b><i>SI department</i></b></section>
                <br>
                <tr>
                    <td>Phone</td>
                    <td>Fax</td>
                    <td>E-mail</td>
                </tr>
                <tr>
                    <td>+381113248888</td>
                    <td>+3811188681</td>
                    <td>si@etf.bg.ac.rs</td>
                </tr>
            </table>
        </div>
        </div>
    </div>
    
    <br><br>
    <div class="bod">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7881659608756!2d20.473952580204344!3d44.80550557920098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f5ee145d3%3A0x3ed89b5bb505d83!2sUniversity%20of%20Belgrade%20School%20of%20Electrical%20Engineering!5e0!3m2!1sen!2srs!4v1613339709349!5m2!1sen!2srs" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br><br><br></div><br><br><br>
</div>