<div class="container-fluid">
  <div class="bod">
    <button class="btn btn-link" (click)='logout()'>Logout</button>
    </div>
<div class="bod">
<h1>Get your data from CSV file of active students:</h1>
</div>
<div class="bod">
  <h1 >Upload your CSV file</h1>
</div><br><br>
  <div class="bod">
    <h4>Update your database</h4>
    <br>
    <input  type="file" class="upload" (change)="readCSV($event.target.files)">
  </div>

  <div class="bod">
    <h4>Show on screen</h4>
    <br>
    <input  type="file" class="upload" (change)="changeListener($event.target.files)">
  </div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let li of lines[0]; let i = index">{{li}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of linesR[0]; let i = index">
        <td *ngFor="let lii of lines[0]; let j = index">{{li[j]}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
</div>